body {
    padding-top: 5rem;
}

#content {
    text-align: center;
    border: 1px solid #acc;
    padding-bottom: 20px;
}

#top {
    background-color: green;
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#bio {
    margin: 10px 20%;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin: 20px 20%;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid lawngreen;
    background-color: lawngreen;
    color: white;
}

button:hover {
    color: black;
}